<config
	lang="fr"
	langs="fr"
	langnames="Français"

	host="camap.localdomain"
	name = "CAMAP"
	webmaster_email = "webmaster@camap.localdomain"
	
	database="mysql://root:root@loc-mysql/db-camap"
	sqllog="0"
	
	debug="0"
	cache="0"
	maintain="0"
	cachetpl="0"
	key="BvA8wNG6H5Ruz69FfW3t"

	camap_api="https://api.camap.localdomain"
	camap_bridge_api="http://nest-loc-camap:3010"
	
	mapbox_server_token="to_create_at_mapbox.com"
	/>
	